body {
    background-color: #dbdb2d;
}

.header{
    padding: 20px;
    border-bottom: 3px solid black;
}

.header h1{
    display: inline-block;
    font-size: 40px;
}

.header nav{
    display: flex;
    padding-top: 20px;
    margin-right: 30px;
    float: right;
}

nav{
    display: block;
}

a{
    color: black;
    text-decoration: none;
}


.content {
    color: black;
    position: relative;
    top: 100px;
    border-top: 3px solid black;
}


figure{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

figure .emoji{
    width: 500px;
    height: 500px;
}

figcaption {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: black;
}

.about-me{
    font-size: 20px;
}

p{
    font-size: 15px;
}

.my-work{
    display: flex;
    justify-content: space-evenly;
}

/* .hero {
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
    background-image: url("/Homework2/Assests/profileimage.png");
    background-size: cover;
    background-position: center;
}

.icon {
    position: relative;
    float: right;
    margin-right: 100px;
    margin-top: 70px;
} */ 
